.App {
  min-height: 100vh;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
.recipeForm {
  min-height: 8vh;
  display: flex;
  justify-content: center;
  text-align: center;
}
.serachBar {
  width:50%;
  border:none;
  padding: 0px;
}
.serachButton {
  background: blueviolet;
  border: none;
  color: white;
  padding: 10px 30px;
}
.receipeList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}